body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

.container {
    background: white;
    padding: 20px;
    margin: 50px auto;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

input, textarea {
    width: 90%;
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: darkgreen;
}